<footer class="site-footer">
<div class="wrapper">
        <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Linkuri utile</h2>
                <li><a href="http://intodns.com">intodns.com</a></li>
        </div>
<!--
        <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Contact</h2>
                <p>mail(at)linuxtm.ro</p>
        </div>
-->
       <div class="footer-col footer-col-3">
        <h2 class="footer-heading">Utilizare</h2>
                <a href="https://linuxtm.ro/termeni/">Termeni si conditii</a>
        </div>


</div>
</footer>
